<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div id="container" class="container">
    <div id="row">
        <div id="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><input type="checkbox" v-model="all" v-on:click = "fn2" >全选</th>
                        <th>商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in arr">
                        <td><input type="checkbox" v-model="product.isSelected" v-on:click="fn3"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.count}}</td>
                        <td>{{product.price * product.count}}</td>
                        <td><button type="button" class="btn btn-danger" v-on:click="fn(product)">删除</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
let vm = new Vue({
    el:'#container',
    data:{
        arr:[
            {isSelected:true,name:'雀巢',price:30,count:5},
            {isSelected:true,name:'雀巢',price:10,count:2},
            {isSelected:false,name:'雀巢',price:20,count:5},
            {isSelected:true,name:'雀巢',price:30,count:7}
        ],
        all:true
    },
    methods:{
        fn(pro){
            this.arr = this.arr.filter(item => item !== pro );
        },
        fn2(){
            if(this.all === false ){
                for(var i=0;i<this.arr.length;i++){
                    console.log((this.arr)[i].isSelected);
                    (this.arr)[i].isSelected = true;
                }
            }
        },
        fn3(){
            /*console.log("before:"+this.all);
            this.all = false;
            console.log("after:"+this.all);
            for(var i=0;i<this.arr.length;i++){
                if((this.arr)[i].isSelected === false){
                    this.all = false;
                }
            }*/
        }
    }
});
//vm.all = vm.arr.map(item => item.isSelected  );
</script>
</body>
</html>